<div class="jumbotron">
  <h1>Connect you Cobot with Quickbooks</h1>
  <p class="lead">Have enterprise book keeping</p>
  <a class="btn btn-large btn-success" href="/session/new">Get Started</a>
</div>
<hr>
