<div class="jumbotron">
  <h1>Connect Cobot with Quickbooks Accounting</h1>
  <p class="lead">Have all numbers in one place.<sup><a href="#fn1" id="r1">[1]</a></sup></p>
  <a class="btn btn-large btn-success" href="/session/new">Connect</a>
</div>
<hr>
