<div class="jumbotron">
  <h1>Connect Cobot with Quickbooks Accounting</h1>
  <p class="lead">Have all numbers in one place.</p>
  <a class="btn btn-large btn-success" href="/session/new">Connect</a>
</div>
<hr>
